$canvas: #e6e9e4;
$black: #1d1e22;
$black-light: #1d1e22ce;
$yellow: #fdd61c;
$yellow-dark: #c5a713;
$red: #e63024;
$red-dark: #e63024;
$blue: #004692;
$blue-dark: #0d3b6d;

$border: 10px solid $black;
$border-thin: 7px solid $black;





body {
  margin: 0;  
  background: $canvas;
  color: $black;
  font-family: sans-serif;
}

.btn {
  // text-decoration: none;
  font-weight: bold;  
  text-align: center;
  letter-spacing: 1.5px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.list {
  // padding-left: 20px;
  padding: 0;
  list-style: none;
  li {
    line-height: 150%;
  }
}


// ========
// each comp has a canvas
// ========

// Composition No. III, with Red, Blue, Yellow, and Black (1929)
.comp__three {
  %grid-columns {
    display: grid;
    grid-template-columns: 43.75% 56.25%;
  }
  .canvas {
    display: grid;
    grid-template-columns: 1fr;   
    grid-template-rows:  337.5px 262.5px;
    line-height: 180%;
  }
  
  .canvas__top {
    @extend %grid-columns;
    border-bottom: $border;
  }
  
  // There are two of these
  .canvas__top-block {
    &:first-of-type {
      // height: 337.5px;
      background: $red;
      color: $canvas;
      border-right: $border;
      padding: 1em;      
      a {
        color: $canvas;
      }
    }
  }

  .canvas__bottom {
    @extend %grid-columns;
  }
  
  .canvas__bottom-block {    
    border-right: $border;    
  }
  .canvas__bottom-grid {
    display: grid;
    grid-template-columns: 1fr 40px;
  }

  .bottom-grid__block{ 
    &:first-of-type {   
      display: grid;
      border-right: $border;    
      grid-auto-rows: 1fr 30px;
      grid-template-areas:
      "w w"
      "y b";
      .btn {        
        // outline: 3px dashed red;        
        height: 100%;                
        display: flex;        
        flex-direction: column;        
        justify-content: center;        
      }
    }
    &:last-of-type {   
      height: 100px;
      display: flex;
      border-bottom: $border;
      .btn {       
        // outline: 1px dashed greenyellow;      
        width: 40px;       
        background: $blue;                
        color: $canvas;
        font-weight: bold;    
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: $blue-dark;
        }        
      }
      span {                
        // outline: 2px solid lime;        
        display: inline-block;
        transform: rotate(90deg);
        // transform-origin: 50%;
      }
    }
  }

  .grid-block--white {
    grid-area: w;
    border-bottom: $border;
    padding: 1em;
    a {
      color: $black;
    }
  } 

  .grid-block--yellow {
    grid-area: y;
    .btn {      
      background: $yellow;    
      color: $black;         
      &:hover {
        background: $yellow-dark;
      }
    }
  }
  
  .grid-block--black {
    grid-area: b;
    .btn {
      background: $black;        
      color: $canvas;      
      &:hover {
        background: $black-light;
      } 
    }
  }

  @media(max-width: 500px){
    .canvas__top {
      grid-template-columns: 86.25% 13.75%;
    }
    .canvas__bottom {
      grid-template-columns: 13.75% 86.25%;
    }
  }
}


.comp__c {
  // outline: 1px solid purple;
  %grid-columns {
    display: grid;
    grid-template-columns: 46.5% 53.5%;
  }
  .canvas {
    border-top: $border;
    // outline: 3px dashed orange;
    display: grid;    
    grid-template-rows: 275px 125px 225px;
  }
  .canvas__top {
    // outline: 3px dashed blue;
    @extend %grid-columns;
    // grid-template-columns: 46.5% 53.5%; 
    border-bottom: $border;
           
  }
  .canvas__top-block {
    // outline: 3px dashed lime;
    padding: 1em;
    &:first-of-type {      
      background: $red;
      color: $canvas;
      border-right: $border-thin;
      // display: flex;
      // align-items: flex-end;
      a {
        color: $canvas;
      }
    }
  }

  .canvas__mid {
    // outline: 1px solid lime;        ;
    @extend %grid-columns;
    border-bottom: $border;
  }

  .canvas__mid-block {
    padding: 1em;
    p {
      margin: 0;
    }
    &:first-of-type {
      border-right: $border-thin;
    }
  }

  .canvas__bottom {
    // outline: 1px solid lime;
    display: grid;    
    grid-template-columns: 10.1% 35.5% 29% 24%;    
    h3 {
      margin: 0;
    }
  }

  .canvas__bottom-block {
    // outline: 2px dashed rebeccapurple;    
    padding: 1em;
  }
  .canvas__bottom-grid {
    border-left: $border-thin;
    border-right: $border-thin;
    display: grid;
    grid-template-rows: 1fr 40px;
  }
  .bottom-grid__block {
    &:first-of-type {
      border-bottom: $border-thin;
      background: $blue;
      color: $canvas;
      padding: .5em;
    }
  }
  .yellow {
    background: $yellow;
    border-right: $border-thin; 
  }

  @media(max-width: 500px) {
    .canvas__top {
      grid-template-columns: 88.25% 1fr;
    }
  }
}