$canvas: #e6e9e4;
$black: #1d1e22;
$black-light: #1d1e22ce;
$yellow: #fdd61c;
$yellow-dark: #c5a713;
$red: #e63024;
$red-dark: #e63024;
$blue: #004692;
$blue-dark: #0d3b6d;

$border: 10px solid $black;

%grid-columns {
  display: grid;
  grid-template-columns: 43.75% 56.25%;
}



body {
  margin: 0;  
  background: $canvas;
  color: $black;
  font-family: sans-serif;
}

.btn {
  // text-decoration: none;
  font-weight: bold;  
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}


// ========
// each comp has a canvas
// comp has no styles
// ========

// Composition No. III, with Red, Blue, Yellow, and Black (1929)
.comp__three {
  .canvas {
    display: grid;
    grid-template-columns: 1fr;   
    grid-template-rows:  337.5px 262.5px;
  }
  
  .canvas__top {
    @extend %grid-columns;
    border-bottom: $border;
  }
  
  // There are two of these
  .canvas__top-block {
    &:first-of-type {
      // height: 337.5px;
      background: $red;
      color: $canvas;
      border-right: $border;
      padding: 1em;
    }
  }

  .canvas__bottom {
    @extend %grid-columns;
  }
  
  .canvas__bottom-block {    
    border-right: $border;
  }
  .canvas__bottom-grid {
    display: grid;
    grid-template-columns: 1fr 40px;
  }

  .bottom-grid__block{ 
    &:first-of-type {   
      display: grid;
      border-right: $border;    
      grid-auto-rows: 1fr 30px;
      grid-template-areas:
      "w w"
      "y b";
      .btn {        
        // outline: 3px dashed red;        
        height: 100%;                
        display: flex;        
        flex-direction: column;        
        justify-content: center;        
      }
    }
    &:last-of-type {   
      height: 100px;
      display: flex;
      border-bottom: $border;
      .btn {       
        // outline: 1px dashed greenyellow;      
        width: 40px;       
        background: $blue;                
        color: $canvas;
        font-weight: bold;    
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: $blue-dark;
        }        
      }
      span {                
        // outline: 2px solid lime;        
        display: inline-block;
        transform: rotate(90deg);
        // transform-origin: 50%;
      }
    }
  }

  .grid-block--white {
    grid-area: w;
    border-bottom: $border;
    padding: 1em;
  } 

  .grid-block--yellow {
    grid-area: y;
    .btn {      
      background: $yellow;    
      color: $black;         
      &:hover {
        background: $yellow-dark;
      }
    }
  }
  
  .grid-block--black {
    grid-area: b;
    .btn {
      background: $black;        
      color: $canvas;      
      &:hover {
        background: $black-light;
      } 
    }
  }

  @media(max-width: 430px){
    .canvas__top {
      grid-template-columns: 76.25% 23.75%;
    }
    .canvas__bottom {
      grid-template-columns: 23.75% 76.25%;
    }
  }

}